black
fastapi
pytest
pylint
uvicorn
sqlalchemy
datetime
uuid
shortuuid
psycopg2-binary
python-multipart
boto3
python-dotenv
tk
pandas
numpy
awswrangler
fastapi-crudrouter==0.8.5
passlib
bcrypt
shortuuid
cffi
click
h11
pydantic==1.8.2
PyJWT
six
starlette
pytz
yfinance
requests
passlib
fastapi_utils
pycparser==2.21
alembic
openai
